<div>
    <div class="footer">
      <h4>Demo website of ATN Shop.</h4>

    </div>

    <style>
        
.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
    </style>
</div>